@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import '../fontello/css/icon.css';
.font_primary{
	font-family:Arial,Helvetica,sans-serif;
}
.font_header{
	font-family:'Open sans',sans-serif;
}
.font_icon{
	font-family:'icon';
}
