@media screen and (min-width: 992px) and (max-width: 1199px) {
	#page-header .inner, #col-top, #menu-top, #col-bottom .inner, #col-banners .inner, #page-footer .inner, #container .inner {
		width: 940px;
	}
	#col-bottom .col-left {
		width: 320px;
	}
	#col-bottom .col-right {
		width: 320px;
	}
	.mod_menu-proc {
		margin-right: 20px;
		padding-top: 25px;
		padding-left: 20px;
		background-size: 100% auto;
	}
	.mod_banners {
		width: auto;
		float: none;
		margin-bottom: 50px;
	}
	.mod_xnewsletter {
		width: auto;
		margin-left: 42px;
		float: none;
	}
	.mod_xnewsletter .mod-title {
		float: left;
	}
	.mod_xnewsletter form {
		float: left;
		padding: 15px 0 0 0;
	}
	.mod_menu-footer {
		width: 600px;
	}
	#page-footer .inner .xart {
		width: 300px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	#page-header .inner, #col-top, #menu-top, #col-bottom .inner, #col-banners .inner, #page-footer .inner, #container .inner {
		width: 720px;
	}
	#page-header {
		border-top-width: 10px;
	}
	#page-header .logo {
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
	}
	#page-header .logo a {
		display: inline-block;
	}
	.mod_menu-main {
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		z-index: 1;
	}
	.mod_menu-main > ul > li {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 -2px;
	}
	.mod_menu-main > ul > li > a {
		padding: 20px 15px;
	}
	.mod_menu-main > ul > li > ul {
		text-align: left;
	}
	.mod_menu-top {
		float: none;
		text-align: center;
	}
	.mod_menu-top ul li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	#menu-top .mod_menu-category {
		padding-bottom: 10px;
	}
	#menu-top .mod_menu-category .mod-title {
		margin-left: auto;
		margin-right: auto;
	}
	#menu-top .mod_menu-category ul {
		text-align: center;
	}
	#menu-top .mod_menu-category ul li {
		display: inline-block;
		vertical-align: top;
		float: none;
		font-size: 17px;
		margin: 0 15px 20px;
		padding: 0;
	}
	#menu-top .mod_menu-category ul li:before {
		display: none;
	}
	#col-bottom .col-left {
		float: none;
		width: auto;
	}
	.mod_menu-proc {
		margin-bottom: 50px;
		margin-left: 0;
	}
	.mod_menu-proc ul li {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		margin-bottom: 30px;
	}
	.mod_banners {
		margin-left: 0;
		float: none;
		width: auto;
	}
	.mod_xnewsletter {
		width: auto;
		margin: 0;
		float: none;
	}
	.mod_xnewsletter .mod-title {
		float: left;
	}
	.mod_xnewsletter form {
		float: left;
		padding: 15px 0 0 0;
	}
	.mod_menu-footer {
		float: none;
		width: auto;
	}
	.mod_menu-footer ul {
		padding-left: 0;
		text-align: center;
	}
	.mod_menu-footer ul li {
		float: none;
		display: inline-block;
		margin: 0 15px 20px;
	}
	#page-footer .inner .xart {
		width: auto;
		padding: 0 0 20px;
		float: none;
		text-align: center;
	}
	#page-footer .inner .xart img {
		float: none;
		display: block;
		margin: 0 auto 10px;
	}
	#col-main {
	    float: none;
	    width: auto;
	}
	#col-left {
		.clearfix;
		width: auto;
		float: none;
		padding: 0 0 30px;
		.mod_menu-category {
			float: left;
			width: 50%;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}
		.mod_custom-kontakt {
			float: left;
			width: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		    margin-left: 0;
		    margin-right: 0;
		    padding: 30px 0 0;
		    nav {
		    	a {
		    		&:before{
		    			display: none;
		    		}
		    		&:after{
		    			bottom: 5px;
		    		}
		    	}
		    }
		}
	}
}
@media screen and (max-width: 767px) {
	#page-header .inner, #col-top, #menu-top, #col-bottom .inner, #col-banners .inner, #page-footer .inner, #container .inner {
		width: 100%;
		padding: 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#page-header {
		border-top-width: 10px;
	}
	#page-header .logo {
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
	}
	#page-header .logo a {
		display: inline-block;
	}
	.mod_menu-main {
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		float: none;
		margin: 0 -20px;
		padding: 0;
		text-align: center;
		z-index: 1;
	}
	.mod_menu-main > ul > li {
		float: none;
	}
	.mod_menu-main > ul > li > a {
		padding: 20px 15px;
	}
	.mod_menu-main > ul > li > ul {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		text-align: left;
		display: block;
		position: static;
		width: auto;
		text-align: center;
	}
	.mod_menu-main > ul > li > ul li {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 10px;
		&:before{
			display: none;
		}
	}
	.mod_menu-top {
		float: none;
		text-align: center;
		margin: 0 0 20px;
	}
	.mod_menu-top ul li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.mod_custom-slideshow {
	    position: relative;
	    left: 0;
	    width: auto;
	    margin: 0 -20px;
	    height: auto;
	    overflow: hidden;
	    .tl,.tr,.bl,.br,.bbl,.bbr,.bbbl,.bbbr {
	    	display: none;
	    }
	    .nav {
    		height: auto;
    		top: auto;
    		bottom: 0;
    		left: auto;
    		right: 0;
    		margin: 0 23px 0 0;
    		background: none;
    		.in {
				top: 100%;
				margin: -50px 0 0;
			}
    	}
    	ul {
    		height: auto;
    		li {
    			width: 100%;
    			position: absolute;
    			top: 0;
    			left: 0;
    			right: 0;
    			padding: 0 0 31%;
    			&.cycle-slide {
    				.transition(0.5s);
    				opacity: 0!important;
    				&.cycle-sentinel {
    					display: none!important;
    				}
    				&.cycle-slide-active {
    					opacity: 1!important;
    				}
    			}
    			img {
    				position: absolute;
    				top: 0;
    				left: 0;
    				height: auto!important;
    				width: 100%!important;
    			}
    		}
    	}
    	.cycle-carousel-wrap {
    		position: static!important;
    		width: 100%!important;
    	}
	}
	#menu-top .mod_menu-category {
		margin: 20px 0;
		padding: 0;
	}
	#menu-top .mod_menu-category .mod-title {
		margin-left: auto;
		margin-right: auto;
	}
	#menu-top .mod_menu-category ul {
		text-align: center;
	}
	#menu-top .mod_menu-category ul li {
		display: inline-block;
		vertical-align: top;
		float: none;
		font-size: 17px;
		margin: 0 15px 20px;
		padding: 0;
		&:before{
			display: none;
		}
	}
	#col-bottom .col-left {
		float: none;
		width: auto;
	}
	.mod_menu-proc {
	    margin: 0;
	}
	#col-bottom .col-center {
	    float: none;
	    width: auto;
	}
	.mod_custom-banners ul li {
	    padding: 0;
	    margin: 0 0 20px;
	    background: none;
	    text-align: center;
	    img {
	    	margin: auto;
	    }
	}
	#col-bottom .col-right {
		float: none;
		width: auto;
	}
	.mod_banners {
	    width: auto;
	    float: none;
	    margin-left: 0;
	    margin-bottom: 50px;
	    ul {
	        padding-left: 0;
	    }
	}
	.mod_xnewsletter {
	    width: auto;
	    float: none;
	    margin-left: 0;
	    margin-bottom: 50px;
	    form {
	    	padding: 0;
	    }
	}
	.mod_menu-footer {
	    float: none;
	    width: auto;
	    ul {
	    	padding: 20px 0;
	    	text-align: center;
	    	li {
	    		float: none;
	    		display: inline-block;
	    		vertical-align: top;
	    		margin: 0 10px 15px;
	    	}
	    }
	}
	#page-footer .inner .xart {
		width: auto;
		padding: 0 0 20px;
		float: none;
		text-align: center;
	}
	#page-footer .inner .xart img {
		float: none;
		display: block;
		margin: 0 auto 10px;
	}
	#col-main {
	    float: none;
	    width: auto;
	}
	#col-center {
	    float: none;
	    width: auto;
	}
	#col-right {
	    float: none;
	    width: auto;
	}
	#col-left {
		padding: 0;
		float: none;
		width: auto;
		.mod_menu-category {
		    padding-left: 0;
		}
	}
	.mod_custom-kontakt {
		margin: 0;
	    background: none;
	    .in {
	    	padding: 20px 20px 0;
	    }
	    nav {
	    	a {
	    		&:before{
	    			display: none;
	    		}
	    		&:after{
	    			bottom: 5px;
	    		}
	    	}
	    }
	}
	.pagehub {
		a, span {
			margin: 0 0 5px;
		}
	}
}